csharp-client/bin/Debug/mybot.vshost.exe
csharp-client/bin/Debug/mybot.vshost.exe.manifest
*.exe
*.pdb
csharp-client/.vs/MyBot/v14/.suo
csharp-client/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
csharp-client/obj/Debug/MyBot.csproj.FileListAbsolute.txt
*.suo
